# Server Port (Default 3000 to prevent macOS AirPlay conflicts)
PORT=3000

# MongoDB Connection String (Local or MongoDB Atlas Cloud)
MONGODB_URI=mongodb://127.0.0.1:27017/movforyou
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/movforyou?retryWrites=true&w=majority

# JWT Authentication Secret Key
JWT_SECRET=movforyou_ultra_secret_jwt_key_2026_production
